<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>Discuss And Decide</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, maximum-scale=1.0, minimum-scale=1.0" charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="Keywords" content="" />
	<meta name="author" content="" />
	<meta name="robots" content="all" />
	<meta name="formnat-detection" content="telephone=no, address=no, email=no" />
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="context-path" th:content="@{/}"/>
	
	<link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
	
	<th:block layout:fragment="css">
		<link rel="stylesheet" th:href="@{/common/css/common.css}">
	</th:block>
	
	<script th:src="@{/common/js/common.js}" type="text/javascript" ></script>
	
	<script th:inline="javascript"> var contextRoot = /*[[@{/}]]*/ ''; </script>
</head>
<body>
	<script>
	
	</script>
	<!-- contents -->
	<div class="wrapper" th:classappend="${classType}">
		<th:block layout:fragment="contents"></th:block>
		<th:block th:replace="thymeleaf/fragments/layout_footer :: footerFragment"></th:block>
	</div>
	<!-- //container -->
	<th:block layout:fragment="js">
	</th:block>
</body>
</html>