<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{thymeleaf/fragments/layout_intro}">
<th:block layout:fragment="contents">

	<h2 class="text-center">Discuss And Decide</h2>
		 
	<div class="container">
		<form id="loginForm" name="loginForm" th:object="${loginForm}" method="post">
	        <div th:if="${param.error}">
	            <div class="alert alert-danger">
	                아이디 또는 패스워드를 확인해 주세요.
	            </div>
	        </div>
			<div>
				<input type="text" id="username" name="username" placeholder="아이디">
		  	</div>
		  	<div>
				<input type="password" id="pwd" name="pwd" placeholder="패스워드">
		  	</div>
		
		  	<button type="button" id="loginExecBtn">로그인</button>
		</form>
		
		<nav aria-label="breadcrumb">
		  <ul>
		    <li><a href="#">아이디 찾기</a></li>
		    <li><a href="#">패스워드 찾기</a></li>
		    <li><a href="/join">회원가입</a></li>
		  </ul>
		</nav>
	</div>
	
</th:block>
<th:block layout:fragment="js">
<script th:inline="javascript">
	
	document.addEventListener('DOMContentLoaded', function () {

		let loginExecBtn = document.getElementById('loginExecBtn'); // 로그인 버튼
		let form = document.getElementById('loginForm'); // 로그인 form
		
		loginExecBtn.addEventListener('click', function () {
		 	if (loginValidation()) {
				 
				let formData = new FormData(form);
				
			    let xhr = new XMLHttpRequest();
			
			    xhr.onreadystatechange = function () {
			        if (xhr.readyState === XMLHttpRequest.DONE) {
			            if (xhr.status === 200) {
							location.replace('/');
			            } else {
			            	alert(xhr.responseText)
			            }
			        }
			    }
			    
			    xhr.open("POST", '/login', true);
			    
			    xhr.send(formData);				
			}
		});
		
		loginForm.addEventListener('keypress', function (event) {
			if (event.key === 'Enter') {
				loginExecBtn.click();
			}
		});
	   
	});
	
	// 로그인 요청 전 입력 값 유효성 체크
	function loginValidation(){
		
		let userId = document.getElementById('username').value;
		let userPwd = document.getElementById('pwd').value;
	
		if(isEmpty(userId)) {
			alert("아이디를 입력해 주세요.");
			return false;
		}
		
		if(isEmpty(userPwd)) {
			alert("패스워드를 입력해 주세요.");
			return false;
		}
		
		return true;
	}

</script>
</th:block>
</html>